<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eproject</title>
    <script type="module" crossorigin src="../../assets/js/main-551a2c86.js"></script>
    <link rel="stylesheet" href="../../assets/css/main-69e02804.css">
    <link href="https://unpkg.com/survey-jquery@1.9.104/defaultV2.min.css"
          rel="stylesheet" />
</head>
<body>
    <header class="shadow-lg">
        <div class="navbar bg-base-100 w-full lg:container mx-auto">
            <div class="navbar-start">
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="2"
                                  d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </label>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-30 p-2 shadow-lg bg-base-100 rounded-box w-52">
                        <li class="mb-2"><a href="/index.html">Home</a></li>
                        <li class="mb-2"><a href="./pages/faq.html">FAQ</a></li>
                        <li class="mb-2"><a href="./pages/support.html">Support</a></li>
                        <li class="mb-2">
                            <a href="./pages/surveys.html">Survey Board</a>
                        </li>
                        <li><a href="./pages/seminars.html">Seminars</a></li>
                        <div class="sm:hidden">
                            <div class="divider p-0 m-0"></div>
                        <li class="mb-2">
                            <a href="./pages/manage-profile.html">Profile Edit</a>
                        </li>
                        <li class="mb-2"><a href="">Logout</a></li>
                </div>
                <div class="gap-2 flex sm:hidden">
                    <a class="btn btn-primary btn-outline"
                       href="./pages/register.html">Register</a>
                    <a class="btn btn-primary" href="./pages/login.html">Login</a>
                </div>
                </ul>
            </div>
            <a class="btn btn-ghost normal-case text-xl" href="/index.html">Enviromental Surveys</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/index.html">Home</a></li>
                <li><a href="./pages/faq.html">FAQ</a></li>
                <li><a href="./pages/support.html">Support</a></li>
                <li><a href="./pages/surveys.html">Survey Board</a></li>
                <li><a href="./pages/seminars.html">Seminars</a></li>
            </ul>
        </div>
        <div class="navbar-end gap-2">
            <details class="dropdown hidden sm:flex">
                <summary class="w-12 m-1 btn">
                    <div class="avatar">
                        <div class="w-12 rounded-full">
                            <img src="/grow.jpg" />
                        </div>
                    </div>
                </summary>
                <ul class="p-2 shadow menu dropdown-content z-[30] bg-base-100 rounded-box w-52">
                    <li><a href="/pages/manage-profile.html">Profile Edit</a></li>
                    <li><a>Logout</a></li>
                </ul>
            </details>
            <button class="btn btn-primary" id="modeBtn">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-moon"
                     viewBox="0 0 16 16">
                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                </svg>
            </button>
            <a class="btn btn-primary btn-outline hidden sm:flex"
               href="./pages/register.html">Register</a>
            <a class="btn btn-primary hidden sm:flex" href="./pages/login.html">Login</a>
        </div>
        </div>
    </header>
        <main>
            @RenderBody()
        </main>


<footer class="bg-primary py-12 mt-10">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-between items-center mb-8">
            <a href="#" class="text-primary-content text-xl font-bold"
            >Environmental Survey</a
            >
            <nav>
                <ul class="flex space-x-4">
                    <li>
                        <a
                            class="text-primary-content hover:text-gray-300"
                            href="./index.html"
                        >Home</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-primary-content hover:text-gray-300"
                            href="./pages/faq.html"
                        >FAQ</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-primary-content hover:text-gray-300"
                            href="./pages/support.html"
                        >Support</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-primary-content hover:text-gray-300"
                            href="./pages/surveys.html"
                        >Survey Board</a
                        >
                    </li>
                    <li>
                        <a class="text-primary-content hover:text-gray-300"
                        >Profile Edit</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
        <p class="text-primary-content text-sm">
            © 2023 Environmental Survey. All rights reserved.
        </p>
        <p class="text-primary-content text-sm">
            Created By M Kashif Khan, M Maaz Ahmed
        </p>
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
