@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    var isAdmin = User.IsInRole("Admin");
    Layout = isAdmin ? "_Layout" : "_LayoutDefault";
}

@if (@Model.StatusMessage == "Your password has been changed.")
{
    <div class="alert alert-success">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Password Changed Successfully!</span>

    </div>
}
@*<div class="flex items-center lg:container mx-auto">
    <div class="max-w-5xl w-full px-6 py-8 shadow-md rounded-lg">
        @if (ViewData.ModelState.IsValid == false)
        {
            <div class="alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <span>@error.ErrorMessage</span>
                    }
            </div>
        }
        <form id="change-password-form" method="post">
            <div class="mb-4">
                <input
                    type="password"
                    id="currentPassword"
                    asp-for="Input.OldPassword"
                    placeholder="Current Password"
                    class="input input-bordered w-full"
                    required/>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <input
                    type="password"
                    id="newPassword"
                    asp-for="Input.NewPassword"
                    placeholder="New Password"
                    class="input input-bordered w-full"
                    required/>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <input
                    type="password"
                    id="confirmPassword"
                    asp-for="Input.ConfirmPassword"
                    placeholder="Confirm Password"
                    class="input input-bordered w-full"
                    required/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button
                type="submit"
                class="btn btn-primary">
                Change Password
            </button>
        </form>
    </div>
</div>*@
<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="change-password-form" method="post" class="mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="Input.OldPassword" class="form-label">Old Password</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Update Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
