@*
   
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SupportInformation
@{
    Layout = "_Layout";
}
<div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Basic Layout</h5>
            <small class="text-muted float-end">Default label</small>
        </div>
        <div class="card-body">
            <form asp-action="Update" asp-controller="Support" asp-area="Admin" method="post">
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                    <label asp-for="FullName">Full Name</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                    <label asp-for="Company">Company</label>
                </div>
                <div class="mb-4">
                    <div class="input-group input-group-merge">
                        <div class="form-floating form-floating-outline">
                            <input asp-for="Email" class="form-control" value="@Model.Email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <label asp-for="Email">Email</label>
                        </div>
                        <span class="input-group-text">a@example.com</span>
                    </div>
                    <div class="form-text">You can use letters, numbers & periods</div>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="PhoneNumber" class="form-control phone-mask" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <label asp-for="PhoneNumber">Phone No</label>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>