@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LayoutDefault";
}

<h1>@ViewData["Title"]</h1>

<div
    class="container mx-auto flex-col flex min-h-[90vh] justify-center items-center"
>
    <div class="mb-12">
        <h1 class="text-center text-3xl md:text-5xl mb-2 font-semibold">
            Welcome back to Honolulu!
        </h1>
        <p class="text-center text-md md:text-xl">
            Log in to participate in surveys.
        </p>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="text-error mb-3">
            @Html.ValidationSummary()
        </div>
    }
    <form
        id="loginForm"
        class="sm:w-[300px] md:w-[350px] lg:w-[400px] mx-auto"
        method="post"
    >
        <div class="form-control w-full max-w-2xl mb-3">
            <input asp-for="Input.Email"
                type="text"
                id="username"
                placeholder="Username"
                class="input input-bordered w-full shadow-lg"
            />
            <p id="usernameError" class="text-error mt-1"></p>
        </div>
        <div class="form-control w-full max-w-2xl mb-3">
            <input
                type="password"
                   asp-for="Input.Password"
                id="password"
                placeholder="Password"
                class="input input-bordered w-full shadow-lg"
            />
            <p id="passwordError" class="text-error mt-1"></p>
        </div>
        <div class="form-control w-full max-w-2xl mb-3">
            <button class="w-full btn btn-primary shadow-lg" type="submit">Login</button>
        </div>
    </form>
</div>