@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutDefault";
}

<h1>@ViewData["Title"]</h1>

<div class="container mx-auto flex-col flex min-h-[90vh] justify-center items-center">
    <div class="mb-12">
        <h1 class="text-center text-3xl md:text-5xl mb-2 font-semibold">Join Our Community!</h1>
        <p class="text-center text-md md:text-xl">Register now to participate in surveys and competitions.</p>
    </div>
    <form id="registerForm" class="sm:w-[300px] md:w-[350px] lg:w-[400px] mx-auto p-2" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="flex gap-2">
            <div class="form-control w-full max-w-2xl mb-3">
                <input asp-for="Input.Username" type="text" class="input input-bordered w-full shadow-lg" id="username" />
                <span asp-validation-for="Input.Username" class="text-error mt-1 errors"></span>
            </div>
            <div class="form-control w-full max-w-2xl mb-3">
                <input asp-for="Input.Code" type="text" class="input input-bordered w-full shadow-lg" placeholder="Roll no/Employee no" id="rollNo" />
                <span asp-validation-for="Input.Code" class="text-error mt-1 errors"></span>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="form-control w-full max-w-2xl mb-3">
                <input asp-for="Input.Name" type="text" class="input input-bordered w-full shadow-lg" id="fullName" placeholder="Full Name" />
                <span asp-validation-for="Input.Username" class="text-error mt-1 errors"></span>
            </div>

        </div>
        <div class="flex gap-2">
            <div class="form-control w-full max-w-2xl mb-3">
                <input asp-for="Input.Email" type="email" class="input input-bordered w-full shadow-lg" id="Email" placeholder="Email"/>
                <span asp-validation-for="Input.Email" class="text-error mt-1 errors"></span>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="form-control w-full max-w-2xl mb-3">
                <select asp-for="Input.Class" class="select select-bordered w-full max-w-xs" id="class">
                    <option disabled selected>Class</option>
                    <option>1st</option>
                    <option>2nd</option>
                    <option>3rd</option>
                    <option>4th</option>
                    <option>5th</option>
                    <option>6th</option>
                    <option>7th</option>
                    <option>8th</option>
                    <option>9th</option>
                    <option>10th</option>
                </select>
                <span asp-validation-for="Input.Class" class="text-error mt-1 errors"></span>
            </div>
            <div class="form-control w-full max-w-2xl mb-3">
                <select asp-for="Input.Specification" class="select select-bordered w-full max-w-xs" id="specification">
                    <option disabled selected>Specification</option>
                    <option>Science</option>
                    <option>Arts</option>
                    <option>Practical Studies</option>
                </select>
                <span asp-validation-for="Input.Specification" class="text-error mt-1 errors"></span>
            </div>
        </div>
        <div class="flex gap-2">
            <div class="form-control w-full max-w-2xl mb-3">
                <select asp-for="Input.Section" class="select select-bordered w-full shadow-lg" id="section">
                    <option disabled selected>Section</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span asp-validation-for="Input.Section" class="text-error mt-1 errors"></span>
            </div>
        </div>
        <div class="form-control w-full max-w-2xl mb-3">
            <input asp-for="Input.Password" type="password" class="input input-bordered w-full shadow-lg" id="password" placeholder="Password"/>
            <span asp-validation-for="Input.Password" class="text-error mt-1 errors"></span>
        </div>
        <div class="form-control w-full max-w-2xl mb-3">
            <input asp-for="Input.ConfirmPassword" type="password" class="input input-bordered w-full shadow-lg" id="confirmPassword" placeholder="Confirm Password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-error mt-1 errors"></span>
        </div>
        <div class="form-control w-full max-w-2xl mb-3">
            <button id="registerSubmit" type="submit" class="w-full btn btn-primary shadow-lg">Register</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
